{{ define "title" }} RPS web - About {{ end }}

{{ define "content" }}

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h2 class="py-2">Acerca de Alex Roel</h2>
                <p>Soy un apasionado desarrollador web con experiencia en la creación de sitios web interactivos y
                    emocionantes juegos en línea.</p>
                <p>¡Bienvenido a mi página web del juego de Piedra, Papel o Tijera! He creado este juego para brindarte
                    una experiencia divertida y desafiante.</p>
                <p>Como desarrollador web, me enfoco en combinar diseño atractivo con funcionalidad sólida, y me encanta
                    explorar nuevas tecnologías para mejorar la experiencia de usuario.</p>
                <p>Si tienes alguna pregunta o sugerencia sobre el juego o cualquier otro proyecto web, no dudes en
                    contactarme a través de los siguientes enlaces:</p>

                <ul class="py-3">
                    <li><a href="https://www.facebook.com/alexroelcode" target="_blank">Facebook</a></li>
                    <li><a href="https://www.youtube.com/channel/UCEFS_rvehmW2k14Ci_XzTcQ" target="_blank">YouTube</a></li>
                    <li><a href="https://github.com/alexroel" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{ end }}