{{ define "base" }}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ template "title" . }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a href="/">RPS</a>
                </div>
                <nav>
                    <a href="/new">Nuevo</a>
                    <a href="/about">About</a>
                </nav>
            </div>
        </div>
    </div>
</header>

{{ template "content" . }}

<footer class="bg-light text-center py-4">
    <p class="mb-0">Creado por ROELCODE &copy; 2024</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="static/js/main.js"></script>
</body>
</html>
{{ end }}
