{{ template "base" .}}

{{ define "title" }} RPS web - Nuevo Juego {{ end }}

{{ define "content" }}

<section>
    <div class="container">
        <div class="row">
            <h2 class="text-center py-4">Ingrese su nombre</h2>
            <form action="/game" method="post">
                <div class="mb-3">
                    <input type="text" required placeholder="Ingrese su nombre" name="name" id="name" class="form-control">
                </div>
                <div class="d-grid gap-2 py-4">
                    <button type="submit" class="btn btn-success btn-lg">Empezar a jugar</button>
                </div>
            </form>
        </div>
    </div>
</section>

{{ end }}