<h1>Editando {{ .Title}}</h1>
<form action="/save/{{ .Title}}" method="post">
    <div>
        <textarea name="body" id="body" cols="80" rows="10">{{ printf "%s" .Body}}</textarea>
    </div>
    <div>
        <input type="submit" value="Guardar">
    </div>
</form>

